html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav h5{
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}
nav h6{
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}
/*navbar*/
.logo{
    height: 40px;
}
/*cards*/
.card-title{
    color: black;
}
.card-text{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* nuestroservicio*/
.nuestroservicio{
    z-index: 2;
    position: relative;
    color: rgb(0, 0, 0);
}
.contenido{
    max-width: 1000px;
    padding-left: 120px;
}
#nuestroservicio h2{
    border: 0;
    color: rgb(0, 0, 0);
}

#nuestroservicio hr{
    background-color: black;
    height: 1px;
    width: 10%;
}
/*parallax section*/
.parallax{
    min-height: 525px;
    background: transparent;
}
/*biosecurity2*/
#biosecurity2{
    height: 400px;
    width: 100%;
}
/*footer*/
.footer{
    text-align: center;
    background-color:rgb(43, 42, 42);
    
}

.iconos a{
    text-decoration: none;
    color: white;
}

/*mediaquery*/
@media (max-width: 575.98px) {
    /*tamaño h1*/
    .display-4{
        font-size: 45px;
    }
    /*parrafos nuestroservicio*/
    .contenido{
        padding-left: 20px;
    }
    /*footer*/
    .footer{
        font-size: 12px;
    }
    /*formulario*/
    .subtitulo{
        font-size: 16px;
    }
}
